de.urszeidler.shr5.management.model/model/Shr5managementXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:shr5="http://urszeidler.de/shr5/1.0" xmlns:shr5mngt="http://urszeidler.de/shr5mngt/1.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urszeidler.de/shr5mngt/1.0">
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="ecore.xsd"/>
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:import namespace="http://urszeidler.de/shr5/1.0" schemaLocation="shr5.xsd"/>
  <xsd:simpleType name="GeneratorState">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="new"/>
      <xsd:enumeration value="readyForCreation"/>
      <xsd:enumeration value="commited"/>
      <xsd:enumeration value="personaCreated"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Sex">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="female"/>
      <xsd:enumeration value="male"/>
      <xsd:enumeration value="undefinde"/>
      <xsd:enumeration value="none"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QuellenConstrainType">
    <xsd:annotation>
      <xsd:documentation>Defines the mode of the constrain.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="notTogether">
        <xsd:annotation>
          <xsd:documentation>No element refers in targets are allow to be in the character togther with the source.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="needOneOf">
        <xsd:annotation>
          <xsd:documentation>One or ore element refers in targets need  to be in the character togther with the source.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="ManagedCharacter">
    <xsd:annotation>
      <xsd:documentation>the managed chracter contains the mudan parts of a character.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="persona" type="shr5:AbstraktPersona"/>
      <xsd:element name="changes" type="shr5mngt:Changes"/>
      <xsd:element name="chracterSource" type="shr5mngt:CharacterGenerator">
        <xsd:annotation>
          <xsd:documentation>Refers the generator.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inventar" type="shr5:AbstraktGegenstand"/>
      <xsd:element name="contracts" type="shr5:Vertrag"/>
      <xsd:element name="connections" type="shr5mngt:Connection"/>
      <xsd:element name="vehicels" type="shr5:Fahrzeug">
        <xsd:annotation>
          <xsd:documentation>The vehicles the character owns.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="choosenLifestyle" type="shr5:Lifestyle">
        <xsd:annotation>
          <xsd:documentation>The primary lifestyle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nativeLanguage" type="shr5:Sprachfertigkeit">
        <xsd:annotation>
          <xsd:documentation>One languageSkill is the nativ language.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="generatorSrc" type="shr5mngt:CharacterGenerator">
        <xsd:annotation>
          <xsd:documentation>When commited contains the generator.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="sex" type="shr5mngt:Sex" use="required"/>
    <xsd:attribute name="notorietyBasic" type="xsd:int"/>
    <xsd:attribute name="publicAwareness" type="xsd:int"/>
    <xsd:attribute name="chracterSource" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Refers the generator.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="choosenLifestyle" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The primary lifestyle.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="nativeLanguage" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>One languageSkill is the nativ language.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ManagedCharacter" type="shr5mngt:ManagedCharacter">
    <xsd:annotation>
      <xsd:documentation>the managed chracter contains the mudan parts of a character.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="CharacterGeneratorSystem">
    <xsd:annotation>
      <xsd:documentation>The basic character generator system defines the advacements system.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5:Beschreibbar">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="localizations" type="shr5:Localization"/>
          <xsd:element name="srcBook" type="shr5:SourceBook"/>
          <xsd:element name="instructions" type="shr5mngt:GeneratorStateToEStringMapEntry"/>
          <xsd:element name="lifestyleToStartMoney" type="shr5mngt:LifestyleToStartMoney"/>
          <xsd:element name="characterAdvancements" type="shr5mngt:CharacterAdvancementSystem"/>
          <xsd:element name="additionalConstrains" type="shr5mngt:QuellenConstrain">
            <xsd:annotation>
              <xsd:documentation>A system can define additional constrains for elements.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="parentId" type="xsd:string"/>
        <xsd:attribute name="page" type="xsd:string"/>
        <xsd:attribute name="srcBook" type="xsd:string"/>
        <xsd:attribute name="characterAdvancements" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CharacterGeneratorSystem" type="shr5mngt:CharacterGeneratorSystem">
    <xsd:annotation>
      <xsd:documentation>The basic character generator system defines the advacements system.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="PrioritySystem">
    <xsd:annotation>
      <xsd:documentation>The priority system collects a set of generation options.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:CharacterGeneratorSystem">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="priorities" type="shr5mngt:PriorityCategorie"/>
        </xsd:choice>
        <xsd:attribute name="karmaPoints" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PrioritySystem" type="shr5mngt:PrioritySystem">
    <xsd:annotation>
      <xsd:documentation>The priority system collects a set of generation options.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="NonPlayerCharacter">
    <xsd:annotation>
      <xsd:documentation>Is used to define npcs.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:ManagedCharacter"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="NonPlayerCharacter" type="shr5mngt:NonPlayerCharacter">
    <xsd:annotation>
      <xsd:documentation>Is used to define npcs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="Changes">
    <xsd:annotation>
      <xsd:documentation>Keeps track of the changes the character does.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="character" type="shr5mngt:ManagedCharacter"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="date" type="xsd:string"/>
    <xsd:attribute name="changeApplied" type="xsd:boolean"/>
    <xsd:attribute name="dateApplied" type="xsd:string"/>
    <xsd:attribute name="character" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Changes" type="shr5mngt:Changes">
    <xsd:annotation>
      <xsd:documentation>Keeps track of the changes the character does.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="KarmaGaint">
    <xsd:annotation>
      <xsd:documentation>Simply collects the karma gaint by the character.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:Changes">
        <xsd:attribute name="karma" type="xsd:int" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="KarmaGaint" type="shr5mngt:KarmaGaint">
    <xsd:annotation>
      <xsd:documentation>Simply collects the karma gaint by the character.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FreeStyle">
    <xsd:annotation>
      <xsd:documentation>The freestyle system has not values, as the generator has no constrains.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:CharacterGeneratorSystem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FreeStyle" type="shr5mngt:FreeStyle">
    <xsd:annotation>
      <xsd:documentation>The freestyle system has not values, as the generator has no constrains.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="PriorityCategorie">
    <xsd:annotation>
      <xsd:documentation>This is the basic categories. They can be used to define a priotity or a cost for an option.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="categorieName" type="xsd:string"/>
    <xsd:attribute name="cost" type="xsd:int"/>
  </xsd:complexType>
  <xsd:element name="PriorityCategorie" type="shr5mngt:PriorityCategorie">
    <xsd:annotation>
      <xsd:documentation>This is the basic categories. They can be used to define a priotity or a cost for an option.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Shr5System">
    <xsd:annotation>
      <xsd:documentation>The shr5System describes the values of the different rule factors. 
This is the main description of the character generator system for shr5.
This system defenition is also used for the karma generator.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PrioritySystem">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="applicableGenerators" type="ecore:EClass"/>
        </xsd:choice>
        <xsd:attribute name="karmaToResourceFactor" type="xsd:int" use="required">
          <xsd:annotation>
            <xsd:documentation>The number of resources for one karma.
Used by Shr5Generator and the Shr5KarmaGenerator.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="karmaToMagicFactor" type="xsd:int" use="required">
          <xsd:annotation>
            <xsd:documentation>For mystical adepts the exchange rate between karma to magic points.
Used by Shr5Generator</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="numberOfMaxAttributes" type="xsd:int" use="required">
          <xsd:annotation>
            <xsd:documentation>The number of attributes as hight as the species maximum.
Is used by the hasNotMoreMaxAttributes rule.
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="knowlegeSkillFactor" type="xsd:int" use="required">
          <xsd:annotation>
            <xsd:documentation>The factor for free knowlege skills at the character generation.
Used by Shr5Generator.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="charismaToConnectionFactor" type="xsd:int" use="required">
          <xsd:annotation>
            <xsd:documentation>The factor to calculate the conntection points for free.
Used by Shr5Generator.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxResourceToKeep" type="xsd:int" use="required">
          <xsd:annotation>
            <xsd:documentation>The number of money can be keept at the commitment of the character.
Used by Shr5Generator and the Shr5KarmaGenerator.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxKarmaToResources" type="xsd:int" use="required">
          <xsd:annotation>
            <xsd:documentation>The maximum of karma that can be transformed in mones.
Used by Shr5Generator and the Shr5KarmaGenerator.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxKarmaToKeep" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>The maximum of karma can be keep at committing the character.
Used by Shr5Generator and the Shr5KarmaGenerator.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="skillMax" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>The max value a skill can have.
Is used by the rule hasNoSkillsOverMax.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="numberOfSpecalism" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>The number of specalicies a character can have.
Is used by the hasNotMoreSpecalism rule.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="karmaToConnectionFactor" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>The factor of Karma for a connection point.
Used by the Shr5KarmaGenerator.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="boundSprititServiceCost" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>THis is the cost for a service of a bound spirit at chracter creation.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="applicableGenerators" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Shr5System" type="shr5mngt:Shr5System">
    <xsd:annotation>
      <xsd:documentation>The shr5System describes the values of the different rule factors. 
This is the main description of the character generator system for shr5.
This system defenition is also used for the karma generator.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="MetaType">
    <xsd:annotation>
      <xsd:documentation>The generator system option for  a species.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PriorityCategorie">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="choosableTypes" type="shr5:Spezies">
            <xsd:annotation>
              <xsd:documentation>Refers the species to be the option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="specialPoints" type="xsd:int"/>
        <xsd:attribute name="choosableTypes" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Refers the species to be the option.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MetaType" type="shr5mngt:MetaType">
    <xsd:annotation>
      <xsd:documentation>The generator system option for  a species.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Attributes">
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PriorityCategorie">
        <xsd:attribute name="attibutePoints" type="xsd:int" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Attributes" type="shr5mngt:Attributes"/>
  <xsd:complexType name="Skill">
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PriorityCategorie">
        <xsd:attribute name="skillPoints" type="xsd:int" use="required"/>
        <xsd:attribute name="groupPoints" type="xsd:int" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Skill" type="shr5mngt:Skill"/>
  <xsd:complexType name="Resourcen">
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PriorityCategorie">
        <xsd:attribute name="resource" type="xsd:int" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Resourcen" type="shr5mngt:Resourcen"/>
  <xsd:complexType abstract="true" name="SpecialType">
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PriorityCategorie">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="selectableTypes" type="ecore:EClass"/>
          <xsd:element name="selectableSkills" type="shr5:Fertigkeit"/>
          <xsd:element name="selectableSkillGroups" type="shr5:FertigkeitsGruppe"/>
        </xsd:choice>
        <xsd:attribute name="skillValue" type="xsd:int"/>
        <xsd:attribute name="skillNumber" type="xsd:int"/>
        <xsd:attribute name="selectableTypes" type="xsd:string"/>
        <xsd:attribute name="selectableSkills" type="xsd:string"/>
        <xsd:attribute name="selectableSkillGroups" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SpecialType" type="shr5mngt:SpecialType"/>
  <xsd:complexType name="Technomancer">
    <xsd:annotation>
      <xsd:documentation>The generator system option for a Technomanager.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:SpecialType">
        <xsd:attribute name="resonanz" type="xsd:int"/>
        <xsd:attribute name="complexForms" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Technomancer" type="shr5mngt:Technomancer">
    <xsd:annotation>
      <xsd:documentation>The generator system option for a Technomanager.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Spellcaster">
    <xsd:annotation>
      <xsd:documentation>The generator system option for a spellcaster like magivcan or mystc adept.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:Adept">
        <xsd:attribute name="spellPoints" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Spellcaster" type="shr5mngt:Spellcaster">
    <xsd:annotation>
      <xsd:documentation>The generator system option for a spellcaster like magivcan or mystc adept.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Adept">
    <xsd:annotation>
      <xsd:documentation>The generator system option for a ki adept.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:SpecialType">
        <xsd:attribute name="magic" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Adept" type="shr5mngt:Adept">
    <xsd:annotation>
      <xsd:documentation>The generator system option for a ki adept.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="CharacterGenerator">
    <xsd:annotation>
      <xsd:documentation>This is the basic character generator.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="character" type="shr5mngt:ManagedCharacter"/>
      <xsd:element name="generator" type="shr5mngt:CharacterGeneratorSystem">
        <xsd:annotation>
          <xsd:documentation>The generator system usesed to build the character.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="selectedGroup" type="shr5mngt:CharacterGroup">
        <xsd:annotation>
          <xsd:documentation>The group the character will be stored in.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="state" type="shr5mngt:GeneratorState"/>
    <xsd:attribute name="characterName" type="xsd:string" use="required"/>
    <xsd:attribute name="character" type="xsd:string"/>
    <xsd:attribute name="generator" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The generator system usesed to build the character.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="selectedGroup" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The group the character will be stored in.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="CharacterGenerator" type="shr5mngt:CharacterGenerator">
    <xsd:annotation>
      <xsd:documentation>This is the basic character generator.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FreeStyleGenerator">
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:CharacterGenerator">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="selectedPersona" type="shr5:AbstraktPersona"/>
          <xsd:element name="selectedSpecies" type="shr5:Spezies"/>
          <xsd:element name="selectedType" type="ecore:EClass"/>
        </xsd:choice>
        <xsd:attribute name="selectedPersona" type="xsd:string"/>
        <xsd:attribute name="selectedSpecies" type="xsd:string"/>
        <xsd:attribute name="selectedType" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FreeStyleGenerator" type="shr5mngt:FreeStyleGenerator"/>
  <xsd:complexType name="Shr5Generator">
    <xsd:annotation>
      <xsd:documentation>This is the core rule generator.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:Shr5RuleGenerator">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="resourcen" type="shr5mngt:Resourcen"/>
          <xsd:element name="skills" type="shr5mngt:Skill"/>
          <xsd:element name="attribute" type="shr5mngt:Attributes"/>
          <xsd:element name="metaType" type="shr5mngt:MetaType"/>
          <xsd:element name="magic" type="shr5mngt:SpecialType"/>
        </xsd:choice>
        <xsd:attribute name="karmaToResource" type="xsd:int"/>
        <xsd:attribute name="startKarma" type="xsd:int"/>
        <xsd:attribute name="startResources" type="xsd:int"/>
        <xsd:attribute name="resourcen" type="xsd:string"/>
        <xsd:attribute name="skills" type="xsd:string"/>
        <xsd:attribute name="attribute" type="xsd:string"/>
        <xsd:attribute name="metaType" type="xsd:string"/>
        <xsd:attribute name="magic" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Shr5Generator" type="shr5mngt:Shr5Generator">
    <xsd:annotation>
      <xsd:documentation>This is the core rule generator.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AttributeChange">
    <xsd:annotation>
      <xsd:documentation>This change defines an attribute change.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PersonaValueChange">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="attibute" type="ecore:EAttribute"/>
        </xsd:choice>
        <xsd:attribute name="attibute" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AttributeChange" type="shr5mngt:AttributeChange">
    <xsd:annotation>
      <xsd:documentation>This change defines an attribute change.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PlayerCharacter">
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:ManagedCharacter"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PlayerCharacter" type="shr5mngt:PlayerCharacter"/>
  <xsd:complexType name="Mudan">
    <xsd:annotation>
      <xsd:documentation>The generator system option for a simple mudan character.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:SpecialType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Mudan" type="shr5mngt:Mudan">
    <xsd:annotation>
      <xsd:documentation>The generator system option for a simple mudan character.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CharacterGroup">
    <xsd:annotation>
      <xsd:documentation>The character group us used to contains the characters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5:Beschreibbar">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="members" type="shr5mngt:ManagedCharacter"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CharacterGroup" type="shr5mngt:CharacterGroup">
    <xsd:annotation>
      <xsd:documentation>The character group us used to contains the characters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Connection">
    <xsd:annotation>
      <xsd:documentation>A connection refers to a managed character and has the loy and influence value.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="character" type="shr5mngt:ManagedCharacter">
        <xsd:annotation>
          <xsd:documentation>The linked character.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="influence" type="xsd:int"/>
    <xsd:attribute name="loyality" type="xsd:int"/>
    <xsd:attribute name="character" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The linked character.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="Connection" type="shr5mngt:Connection">
    <xsd:annotation>
      <xsd:documentation>A connection refers to a managed character and has the loy and influence value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PersonaChange">
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PersonaValueChange">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="changeable" type="shr5:Erlernbar"/>
        </xsd:choice>
        <xsd:attribute name="changeable" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PersonaChange" type="shr5mngt:PersonaChange"/>
  <xsd:complexType abstract="true" name="PersonaValueChange">
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:Changes">
        <xsd:attribute name="from" type="xsd:int" use="required"/>
        <xsd:attribute name="to" type="xsd:int" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PersonaValueChange" type="shr5mngt:PersonaValueChange"/>
  <xsd:complexType name="GeneratorStateToEStringMapEntry">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="key" type="shr5mngt:GeneratorState" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:element name="GeneratorStateToEStringMapEntry" type="shr5mngt:GeneratorStateToEStringMapEntry"/>
  <xsd:complexType abstract="true" name="Advancement">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="karmaFactor" type="xsd:int" use="required"/>
  </xsd:complexType>
  <xsd:element name="Advancement" type="shr5mngt:Advancement"/>
  <xsd:complexType name="IncreaseCharacterPart">
    <xsd:annotation>
      <xsd:documentation>The type is defined by the eclass of the persona part and need to be a Erlernbar or an attribute.   </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:Advancement">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="type" type="ecore:EClass"/>
        </xsd:choice>
        <xsd:attribute name="type" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="IncreaseCharacterPart" type="shr5mngt:IncreaseCharacterPart">
    <xsd:annotation>
      <xsd:documentation>The type is defined by the eclass of the persona part and need to be a Erlernbar or an attribute.   </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="LifestyleToStartMoney">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="lifeStyles" type="shr5:Lifestyle">
        <xsd:annotation>
          <xsd:documentation>A list of lifestyles this lifestyle to money description applies to.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="numberOfW" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation>The number of d6 to define the start money.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="moneyFactor" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation>The factor for the start money.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lifeStyles" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A list of lifestyles this lifestyle to money description applies to.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="LifestyleToStartMoney" type="shr5mngt:LifestyleToStartMoney"/>
  <xsd:complexType name="GruntGroup">
    <xsd:annotation>
      <xsd:documentation>This is a grunt group.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5:Beschreibbar">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="members" type="shr5mngt:GruntMembers"/>
          <xsd:element name="leader" type="shr5mngt:GruntMembers"/>
        </xsd:choice>
        <xsd:attribute name="professionalRating" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation>The professional rating of this grunt group.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GruntGroup" type="shr5mngt:GruntGroup">
    <xsd:annotation>
      <xsd:documentation>This is a grunt group.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GruntMembers">
    <xsd:annotation>
      <xsd:documentation>This decribes the members of a grunt group. So this defines a group of simular characters.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="nsc" type="shr5mngt:NonPlayerCharacter">
        <xsd:annotation>
          <xsd:documentation>The npc of the grunt members.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="count" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation>The number of npcs.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="nsc" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The npc of the grunt members.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="GruntMembers" type="shr5mngt:GruntMembers">
    <xsd:annotation>
      <xsd:documentation>This decribes the members of a grunt group. So this defines a group of simular characters.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PlayerManagement">
    <xsd:annotation>
      <xsd:documentation>The player management comtaints character groups and generators. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5:Beschreibbar">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="groups" type="shr5mngt:CharacterGroup"/>
          <xsd:element name="generators" type="shr5mngt:CharacterGenerator"/>
          <xsd:element name="entries" type="shr5mngt:PlayerManagement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PlayerManagement" type="shr5mngt:PlayerManagement">
    <xsd:annotation>
      <xsd:documentation>The player management comtaints character groups and generators. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GamemasterManagement">
    <xsd:annotation>
      <xsd:documentation>The gemmaster manager contains more stuff only interessting for gamemaster. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:PlayerManagement">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="grunts" type="shr5mngt:GruntGroup"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GamemasterManagement" type="shr5mngt:GamemasterManagement">
    <xsd:annotation>
      <xsd:documentation>The gemmaster manager contains more stuff only interessting for gamemaster. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CharacterAdvancementSystem">
    <xsd:complexContent>
      <xsd:extension base="shr5:Beschreibbar">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="characterAdvancements" type="shr5mngt:Advancement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CharacterAdvancementSystem" type="shr5mngt:CharacterAdvancementSystem"/>
  <xsd:complexType abstract="true" name="Shr5RuleGenerator">
    <xsd:annotation>
      <xsd:documentation>The shr5 rule generator collects the main rules for all character generation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:CharacterGenerator">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="allowedSources" type="shr5:SourceBook">
            <xsd:annotation>
              <xsd:documentation>A list of sources which are allowed when building a character.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="allowedSources" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A list of sources which are allowed when building a character.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Shr5RuleGenerator" type="shr5mngt:Shr5RuleGenerator">
    <xsd:annotation>
      <xsd:documentation>The shr5 rule generator collects the main rules for all character generation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Shr5KarmaGenerator">
    <xsd:annotation>
      <xsd:documentation>The karma generator supports only two choises, one for the meta type and another for the persona type. All other changes are direcly handled throu karama.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="shr5mngt:Shr5RuleGenerator">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="metaType" type="shr5mngt:MetaType">
            <xsd:annotation>
              <xsd:documentation>The selected species.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="characterConcept" type="shr5mngt:SpecialType">
            <xsd:annotation>
              <xsd:documentation>The character concept.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="karmaToResource" type="xsd:int"/>
        <xsd:attribute name="startKarma" type="xsd:int"/>
        <xsd:attribute name="startResources" type="xsd:int"/>
        <xsd:attribute name="metaType" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The selected species.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="characterConcept" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The character concept.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Shr5KarmaGenerator" type="shr5mngt:Shr5KarmaGenerator">
    <xsd:annotation>
      <xsd:documentation>The karma generator supports only two choises, one for the meta type and another for the persona type. All other changes are direcly handled throu karama.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="QuellenConstrain">
    <xsd:annotation>
      <xsd:documentation>Defines a constrain for the source element by holding a list of other elements and an constrain type.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="source" type="shr5:Quelle">
        <xsd:annotation>
          <xsd:documentation>The source object for this constraint.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="targets" type="shr5:Quelle">
        <xsd:annotation>
          <xsd:documentation>A list of objects applying the constrain.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="constrainType" type="shr5mngt:QuellenConstrainType">
      <xsd:annotation>
        <xsd:documentation>The kind of constrain, like not Together ...</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="source" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The source object for this constraint.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="targets" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A list of objects applying the constrain.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="QuellenConstrain" type="shr5mngt:QuellenConstrain">
    <xsd:annotation>
      <xsd:documentation>Defines a constrain for the source element by holding a list of other elements and an constrain type.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
